[submodule "Unigram/Libraries/libutf"]
	path = Libraries/libutf
	url = https://android.googlesource.com/platform/external/libutf
[submodule "Unigram/Libraries/flatbuffers"]
	path = Libraries/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "Unigram/Libraries/tgcalls"]
	path = Libraries/tgcalls
	url = https://github.com/TelegramMessenger/tgcalls
[submodule "Libraries/libwebp"]
	path = Libraries/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "Libraries/libprisma"]
	path = Libraries/libprisma
	url = https://github.com/FrayxRulez/libprisma.git
[submodule "Libraries/CoreWindowCustomDPI"]
	path = Libraries/CoreWindowCustomDPI
	url = https://github.com/ahmed605/CoreWindowCustomDPI.git
